@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

 * {
        box-sizing: border-box;
        margin: 0;
    }


body {
        font-family: "Ubuntu", sans-serif;
        min-width: 900px;
    }

#navbar {
        position: fixed;
        top: 0;
        background-color: rgb(223, 118, 118);
        width: 100%;
        font-weight: bold;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

   .nav-link {
        color: rgb(247, 247, 247);
    }

    #header{
        color: rgb(205, 205, 216);
    }

@media screen and (min-width: 451px ){
        
        #navbar {
        position: fixed;
        top: 0;
        background-color: rgb(223, 118, 118);
        width: 100%;
        font-weight: bold;
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 900px;
    }

    
#welcome-section {
    height: 50vh;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(47, 58, 53);
    text-align: center;
}

#welcome-section #title-section {
    font-size: 25px;
    font-weight: bold;
    margin-top: 2rem;
    color: rgb(173, 173, 189);
}


#about {
    height: 100%;
    padding: 10rem 2rem;
    text-align: center;
    width: auto;
    text-align: center;
    background-color: rgb(205, 235, 236);
}

#about p {
    margin-bottom: 30px;
}

.img1 {
    height: auto;
    width: 250px;
    border-radius: 50%;
}


#myData {
    padding: 50px;
    margin: 50px;
    text-align: start;
    font-size: 20px;
    
}

.title {
    max-width: 600px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem;
}

#projects {
    padding: 10rem 2rem;
    text-align: center;
    background-color: rgb(205, 235, 236);
}

.project-title{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 4rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: 6rem;
}


.name {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
    background-color: rgb(47, 58, 53);
}

#contact h1 {
    font-size: 4rem;
    color: rgb(229, 235, 240)
}

.link {
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.thePic {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.pic-img{
    padding: 2ren 0.5rem;
}

.btnContact {
    font-size: 2rem;
    transition: transform 0.3s ease-in;
    color: rgb(229, 235, 240)
}
.btnContact:hover {
    transform: translateY(3px);
}


}



@media screen and (max-width: 450px ){
    
#welcome-section {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: rgb(47, 58, 53);;
    text-align: center;
}

#welcome-section #title-section {
    font-size: 25px;
    font-weight: bold;
    margin-top: 2rem;
    color: rgb(173, 173, 189);
}


#about {
    height: 100%;
    padding: 10rem 2rem;
    text-align: center;
    width: auto;
    background-color: rgb(205, 235, 236);
    
}

#about p {
    margin-bottom: 30px;
    font-size: 20px;
}


#para {
    margin-bottom: 30px;
}

#myData {
    padding: 50px;
    margin: 50px;
    text-align: start;
    
}

.title {
    max-width: 600px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem;
}

#projects {
    padding: 10rem 2rem;
    width: auto;
    text-align: center;
    background-color: rgb(205, 235, 236);
}

.project-title{
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
    width: 100%;
    margin: 0 auto;
    max-width: 1280px;
    margin-bottom: 6rem;
}


.name {
    font-size: 2rem;
    padding: 2rem 0.5rem;
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    padding: 0 2rem;
    width: 100%;
    text-align: center;
    background-color: rgb(47, 58, 53);
}

#contact h1 {
    font-size: 4rem;
    color: rgb(229, 235, 240)
}

.link {
    display: flex;
    justify-content:space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.thePic {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.pic-img{
    padding: 2ren 0.5rem;
}

.btnContact {
    font-size: 2rem;
    transition: transform 0.3s ease-in;
    color: rgb(229, 235, 240)
}
.btnContact:hover {
    transform: translateY(3px);
}


.img1 {
    height: auto;
    width: 250px;
    border-radius: 50%;
}



}

